body {
  width: 100vw;
  height: 100vh;
  /* margin: 0; */
  /* padding: 0; */
  /* border: 0; */
/* display: none;  image css from webgradients.com*/
background-image: url("/assets/Asset1.png");
/* background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%); */
/* background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%); */
}

header {
  width: 100%;
  min-height: 20vh;
}

main {
  width: 100%;
  min-height: 65vh;
}

footer {
  width: 100%;
  min-height: 15vh;
}

ul {
  list-style: none;
}


.container {
  width: 100%;
  height: 65vh;
}

.btn-box {
  width: 100%;
  height: 15vh;
}

.jumbotron {
  width: 100%;
  height: 40vh;
padding: 3rem 10rem;
 /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
 background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
}

.display-4 {
  font-size: 6em;
  font-weight: 700;
  line-height: 1.2;
}


/* .game-Description {} */
.game-Description h2 {
  color:black;
  text-align: center;
  text-decoration:  underline;
/* padding-bottom: 10px; */
font-size: 4em;
}

.game-Description h3 {
  color:black;
  text-align: center;
  text-decoration:  underline;
/* padding-bottom: 10px; */
font-size: 4em;
}

.game-Description p{color:black;
/* padding-left: 10px; */
text-align: center;
width: 500px;
margin: auto;
margin-bottom: 30px;
font-size: 30px;
font-family: cursive;
font-weight: lighter;
}

.game-Description ul{color:black;
/* padding-left: 10px; */
text-align: center;
/* width: 200px; */
margin: auto;
margin-bottom: 30px;
font-size: 2em;
font-family: cursive;
font-weight: lighter;
}

.game-Description button{
  /* margin: 0 auto; */
  font-size: 50px;
  display: block;
  margin: 0 auto;

}

.btn{
  /* margin: 0 auto; */
  font-size: 50px;
  display: block;
  margin: 0 auto;
  align-items: center;
}

.rePlay{
  /* margin: 0 auto; */
  font-size: 40px;
  /* display: block; */
  margin: 0 auto;
justify-content: space-between;
align-items: center;
background-image: linear-gradient(to left, #f83600 0%, #f9d423 100%);

}

a {
  /*for index button. */
  font-size: 30px;
  display: block;
  align-items: center;
  margin: 0 auto;
/* align-items: flex-start; */
}



.game-Description img {
margin-left: 485px;
padding-bottom: 20px;
}


.card {

  position: relative;
  /* transition: transform 1s; */
  /* transform-style: preserve-3d; */
  /* transition: all 0.5s ease-in-out; */
  width: 300px;
   height: 400px;
  border: 1px solid #e7e7e7;
background-repeat: no-repeat;
 background-position: center center;
/* background-size: 60%; */
padding: 10px;
margin: 0 10px;
}



.diamond {
  background-image: url("assets/diamond1.png");
  border: 10px solid black;
  position: absolute;
 margin-left: 700px;

}
.heart {
  background-image: url("assets/heart1.png");
  border: 10px solid black;
  position: absolute;
 margin-left: 350px;
 }

.spades {
  background-image: url("assets/spades1.png");
  border: 10px solid black;
  position: absolute;
}

.hide-card {
  animation: hideCard 0.5s linear 1s forwards;
}
/*hideCard 0.5 is how fast the cards are going to flip, and linear 3s is
how long it waits before it flips the card.  */




@keyframes hideCard {
  from {
    transform: rotateY(0deg);


  }
  to {
    transform: rotateY(920deg);
    background-image:url("assets/back1.png");
    /* display: none;
    background-color: yellow;
    transform: scaleX(1); */
  }
}

.show-card {
  animation: showCard 0.5s linear 0s forwards;
}

@keyframes showCard {
  from {
    transform: rotateY(1080deg);
    /* transition: 1s; */
  }
  to{
    transform: rotateY(0deg);
  }
}

.shuffle-cards {
  animation: shuffleCards 2s linear 1s forwards;
}

@keyframes shuffleCards {
  from {
    transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(1920deg);
    background-image: url("assets/back1.png");
  }
}

.rePlay {
  animation: showCard 1s linear 2s forwards;

}
a {
  animation: showCard 2s linear 2s forwards;

}

@media (max-width: 320px) {
	.deck {
		width: 85%;
	}

	.deck .card {
		height: 4.7rem;
		width: 4.7rem;
	}
}
